body{
    background: blue
    font-family: sans-serif
}
h1 {
    color:aquamarine
    text-align: center;
}
.assign{
    display: flex;
    padding: 10px;
    margin: 10px;
    background: black
}
.assign img{
    width: 200px;
    padding: 10px;
}
