
body {
    background: #89CFF0;
    font-family: sans-serif;
}
h1 {
    color: lightblue;
    text-align: center;
}
.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #7393B3;
}
.assign img {
    width: 200px;
    padding: 10px;
}
