
body {
    background: lightblue;
    font-family: sans-serif;
}
h1 {
    color: navy;
    text-align: center;
}
.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: grey;
}
.assign img {
    width: 200px;
    padding: 10px;
}
