
body {
    background: #E6E6FA;
    font-family: sans-serif;
}
h1 {
    color: #800080;
    text-align: center;
}
.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #CBC3E3;
}
.assign img {
    width: 200px;
    padding: 10px;
}
